.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  border: 1px solid;
}

form {
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}

label {
  display: block;
}

.Task {
  border-bottom: 1px solid;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.Task.completed input,
.Task.completed textarea {
  text-decoration: line-through;
}

.task-top-part {
  display: flex;
  align-items: center;
  gap: 5px;
}

.task-bottom-part {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed .checkbox {
  border: none;
}

.title-input,
.description-input {
  border: none;
  width: 100%;
}

.title-input {
  padding: 5px;
}

.description-input {
  padding: 5px;
  margin: 5px 0;
  resize: none;
  overflow: hidden;
}

.tasks-footer {
  display: flex;
  justify-content: space-between;
  width: 450px;
  padding: 10px 5px;
}

.tasks-footer ul {
  display: flex;
  gap: 10px;
}

.tasks-footer li,
.clear-completed-btn {
  cursor: pointer;
}

li.active {
  color: blue;
}
