.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid black;
}

form input {
  width: 100%;
}

label {
  display: block;
}

.Task {
  border: 1px solid black;
  padding: 10px;
  width: 250px;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 3px;
}

.Task.completed {
  text-decoration: line-through;
}

.task-top-part {
  display: flex;
  align-items: center;
  gap: 5px;
}

.task-bottom-part {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.task-text {
  width: 100%;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.completed .checkbox {
  background-color: red;
}

.title-input,
.description-input {
  border: none;
}

.title-input {
  padding: 5px;
}

.description-input {
  min-width: 100%;
  padding: 5px;
  margin: 5px 0;
}
